.chess-space {
	/* stage size (400)/8 spaces */
	-fx-min-height:  50px;
	-fx-min-width:   50px;
	-fx-pref-height: 50px;
	-fx-pref-width:  50px;
	-fx-max-height:  50px;
	-fx-max-width:   50px;
	
	/* prevent rounded buttons */
	-fx-background-radius: 0em;
}

.chess-space-light {
	-fx-background-color: #FFCE9E;
}

.chess-space-dark {
	-fx-background-color: #D18B47;
}

.chess-space-tournament-green{
	-fx-background-color: #0b4809;
}

.chess-space-translucid-grey{
	-fx-background-color: #D3D3D3; 
}

.chess-space-translucid-white{
	-fx-background-color: #FFFFFF;
}

.chess-space-active {
	-fx-background-color: red;
}

.button:disabled{
	-fx-opacity:2.0;
}

.buttonLogin{
	-fx-font-color: #ffffff;
	-fx-color: #f7bd1d;
	-fx-background-color: #f7bd1d; /* Login */
    -fx-padding: 4px 12px 4px 12px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-text-fill: black;
	-fx-font-weight: bold;
}

.login{
	-fx-background-color: #6d6d6d;
}

.combob{
	-fx-focus-color: transparent; 
}

.labelLogin{
	-fx-font-size: 16px;
	-fx-font-color: #ffffff;
	-fx-font-weight: bold;
	
}


